
/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    a {
        font-size: 19px;
	}
	body {
		width: 100%;
	}

	header {

		position: absolute;

	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #205B73;;
		border: 5px solid #444;
		right: 10px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}


	
	 /* Force table to not be like tables anymore */
	 
	 table, thead, tbody, th, td, tr { 
        display: block;
    }
    
    th
    {
        display: none;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #205B73; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 45%;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Miejsce"; }
	td:nth-of-type(2):before { content: "Bank"; }
	td:nth-of-type(3):before { content: "Nazwa lokaty"; }
	td:nth-of-type(4):before { content: "Okres lokaty"; }
	td:nth-of-type(5):before { content: "Oprocentowanie"; }
	td:nth-of-type(6):before { content: "link"; }
}