/*
 * ==== hexagon
 */
 .hexa, .hexa div {
    /*margin: 0 auto;*/
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }
  .hexa {
    width: 325px;
    height: 230px;
    display: inline-block;
  }
  .hexa div {
    max-width: 100%;
    max-height: 100%;
  }
  .hexa {
    transform: rotate(120deg);
  }
  .hex1 {
    transform: rotate(-60deg);
  }
  .hex2 {
    transform: rotate(-60deg);
  }

/*podzial czesci*/
  .part {
    padding: 50px 20px 85px;
    background: #205B73;
    color: #AFE4FC;
  }
  .part:nth-of-type(2n) {
    background: #F2E6A7;
    color: #CDAE51
  }


  .div-serv-descrition {
    width: 100%;
	  margin: auto;
	  margin-top: 50px;
	  text-align:justify;
	  font-size: 17px;
	  text-decoration: none;
  }


  /*rankingi*/

  .container {
    width: 100%;
  }

  #rank-place {
    color: #AFE4FC;
  }

  .div-ranks {
    width: 100%;
    display: block;
  }
  .rank-elem {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
  }

  h2 {
    font-size: 40px;
    position: center;
  }

  .rank-description {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align:justify;
    font-size: 17px;
    text-decoration: none;
  }

  @media (max-width: 768px) { /*breakpoint*/
    .rank-elem {
      display: block;
      width: auto;
    }
  }


  table { 
    margin-top: 50px;
    width: 100%; 
    border-collapse: collapse; 
  }


table, th, td
{
	/*color:#fff;*/
	border-collapse:collapse;
	border:1px dotted #000;
	text-align: center;
	font-family:Arial;

}
th
{
  font-size:20px;
  font-weight: bold;
  /*padding: 17px;*/
  text-align: center;
}
td
{
  /*padding:17px 20px;*/
  padding-top: 20px;
  padding-bottom: 20px; 
	font-size:17px;
}
tr:nth-child(even) {
  background-color:#F2E6A7;
  color:#CDAE51
}

tr:nth-child(odd) {
  background-color:#205B73;
  color:#AFE4FC
}

